@import "tailwindcss";
@plugin "daisyui";

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-base-100 text-base-content transition-colors duration-300;
  }
}

@layer components {
  .bg-galaxy-pattern {
    background-image: url("./assets/cat-galaxy.png");
    background-size: 500px;
    background-repeat: repeat;
    background-blend-mode: soft-light;
  }
}
